body {
  background-color: blue;
}

nav ul {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li:hover {
  background: lightblue;
  color: black;
  border-radius: 15px;
  padding: 4px;
}

.heroDiv {
  display: flex;
  padding: 30px, 60px;
  text-align: center;
}

.heroText {
  padding: auto;
  text-align: right;
  margin-right: 8px;
  width: 60%;
}

